<nav class="navbar-expand-lg navbar navbar-dark fixed-top" style="background-color: rgba(18, 18, 18, 0.1);">
  <div class="container-fluid">
    <a class="navbar-brand active" id="brand" href="#">W E D Y</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-md-0">
        <li class="nav-item px-3">
          <a class="nav-link active scroll-link" aria-current="page" data-scroll-to="Home" href="#Home" >Home</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link active scroll-link" aria-current="page" data-scroll-to="About" href="#About" >About</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link active scroll-link" aria-current="page" data-scroll-to="Portafolio" href="#Portafolio" >Portafolio</a>
        </li>
        <!--<li class="nav-item px-3">
          <a class="nav-link active scroll-link" aria-current="page" data-scroll-to="Contact" href="#Contact" >Contact</a>
        </li>-->
        <li  class="nav-item px-3">
          <a class="nav-link active scroll-link" aria-current="page" (click)="downloadPdf()" href="#Home">Descargar CV</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

