<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wedy Dev</title>
</head>
<body>
    <header>
      <app-toolbar></app-toolbar>
    </header>
    <section class="Frame1" id="Home">
        <div class="container text-center">
          <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12 mb-12 item1">
              <!-- Agrega la imagen con la clase "oval-image" -->
              <img src="assets/img/Perfil1.jpg" alt="Imagen Ovalada" class="oval-image">
            </div>
            <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12 mb-12 item2">
              <h2 class="fade-in pixelated-text">Hi!</h2>
              <h1 class="fade-in pixelated-text">I'm Walter Delgado</h1>
              <h2 class="fade-in pixelated-text">
                <span [style.color]="textColor">{{ variableText }}</span> Developer
              </h2>
            </div>

          </div>
        </div>
    </section>


    <section class="Frame2" id="About">
      <div class="container text-center">
        <div class="row iniciar">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mb-12 item3">
            <h1>About me</h1>
            <h2>I'm Walter Delgado, Full Stack Developer</h2>
            <p>I'm a student of Information Systems Engineering at the Peruvian University of Applied Sciences. Currently, I'm focused on Full Stack development, working with various technologies.</p>
          </div>
          <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 mb-12 item4">
            <h2>My skills</h2>
              <div class="row imgst">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 mb-12 ">
                  <img class="crdImg" src="assets/img/Html.png">
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 mb-12">
                  <img class="crdImg" src="assets/img/Css.png">
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mb-12">
                  <img class="crdImg"src="assets/img/JavaScript.png">
                </div>
              </div>
              <div class="row imgst">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 mb-12">
                  <img class="crdImg"src="assets/img/GitHub.png">
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 mb-12">
                  <img class="crdImg"src="assets/img/Cm.png">
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mb-12">
                  <img class="crdImg"src="assets/img/Cs.png">
                </div>
              </div>
              <div class="row imgst">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 mb-12">
                  <img class="crdImg"src="assets/img/Ms Sql.png">
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 mb-12">
                  <img class="crdImg"src="assets/img/Pst SQL.png">
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mb-12">
                  <img class="crdImg"src="assets/img/Angular.png">
                </div>
              </div>
              <div class="row imgst">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 ">
                  <img class="crdImg"src="assets/img/Spring.png">
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 ">
                  <img class="crdImg" src="assets/img/Vue.png">
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 ">
                  <img class="crdImg"src="assets/img/react.png">
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>

    <!--<section class="Frame3" id="Services">

    </section>-->

    <section class="Frame4" id="Portafolio">
      <div class="container text-center">
        <div class="row iniciar">
          <div class="col item3">
            <h1>Portafolio</h1>
            <h3>My projects completed using different technologies</h3>
          </div>
            <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                Column
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                Column
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                Column
              </div>
            </div>
            <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                Column
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                Column
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                Column
              </div>
            </div>
        </div>
      </div>
    </section>
    <section class="Frame5" id="Contact">
      <div class="container text-center">
        <div class="row iniciar">
          <div class="col item3">
            <h1>Contact</h1>
          </div>
            <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                <a>Linkdn</a>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                <a>GitHub</a>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                <a>Gmail</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                <button (click)="downloadPdf()">Descargar Curriculum Vitae</button>
              </div>

            </div>
        </div>
      </div>
      <app-footer></app-footer>

    </section>

    <footer>


    </footer>
</body>
</html>
