.Frame1 {
  /*background: linear-gradient(to bottom, #02447d, #034f6d); /* Cambia los colores según tus preferencias */
  background-image: url("/assets/img/Banner1.jpg"); /* Reemplaza 'tu-imagen-de-fondo.jpg' con la ruta de tu imagen */
  background-size: cover;
  background-repeat: no-repeat;


  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  background-color: #0074D9;
  color: white;
}
.Frame2 {
  background: linear-gradient(to bottom, #2a3036, #9aadb2);

  @media (min-width: 992px) {
    height: 100%;

  }
  @media (min-width: 1200px) {
    height: 100vh;

  }
  @media (min-width: 1400px) {
    height: 100vh;

  }


  margin: 0 auto;
  display:block;
  overflow:auto;
  /*overflow: hidden;*/
}
.Frame3 {
  background: linear-gradient(to bottom, #0074D9, #7FDBFF);
  height: 100vh;
  margin: 0;
  padding: 0;
}
.Frame4 {
  background: linear-gradient(to bottom, #0074D9, #7FDBFF);
  height: 100vh;
  margin: 0;
  padding: 0;
}
.Frame5 {
  background: linear-gradient(to bottom, #0074D9, #7FDBFF);
  height: 100vh;
  margin: 0;
  padding: 0;
}

.item2{
  z-index: 10;
}
.oval-image {
  width: 185px;
  height: 200px;
  border-radius: 55%;
  display: block;
  margin: 0 auto;

  @media (min-width: 992px) {
    float: right;
    margin-right: 25px;
    transform: translateX(180px);
  }
  @media (min-width: 1200px) {
    float: right;
    margin-right: 25px;
    transform: translateX(255px);
  }
  @media (min-width: 1400px) {
    float: right;
    margin-right: 25px;
    transform: translateX(320px);
  }
}

.fade-in {
  opacity: 1;
  transform: translateY(12px);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-in:hover {
  opacity: 1;
  transform: translateY(0);
}



.pixelated-text {
  font-size: 44px;
  font-weight: bold;
  color: #5c5f8e;
  text-transform: uppercase;
  text-shadow: 2px 2px 0px rgb(102, 102, 144), 4px 4px 0px rgb(174, 238, 174), 6px 6px 0px rgb(172, 125, 125);
}
.iniciar{
  @media (min-width: 992px) {
    height: 100%;

  }
  @media (min-width: 1200px) {
    height: 100vh;

  }
  @media (min-width: 1400px) {
    height: 100vh;

  }
}
.item3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;


}
.item4{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  text-align: center;
  margin-bottom: 15px;
}

.item3 h1,
.item3 h2,
.item3 p {
  margin: 10px;
}


.crdImg {
  width: 100px;
  height: 100px;
  display: block;
  transition: filter 0.5s;
}

.imgst{
  margin-top: 10px;
}

button {
  background-color: #f2f2f2; /* Color de fondo gris claro */
  border: none;
  border-radius: 20px; /* Redondear los bordes */
  padding: 10px 20px; /* Ajustar el espaciado interior */
  cursor: pointer;
  transition: transform 0.2s; /* Animación de transformación en 0.2 segundos */
}

button:hover {
  transform: scale(1.1); /* Agrandamiento del botón en hover */
}



a {
  text-decoration: none; /* Elimina el subrayado de todos los enlaces */
  font-family: 'Tahoma', sans-serif; /* Establece el tipo de letra Tahoma */
  color: inherit; /* Hereda el color del texto del elemento padre (por defecto) */
}


/* Estilo para el contenedor de la imagen */
.image-container {
  position: relative;
  cursor: pointer;
  overflow: hidden; /* Recorta el texto que se sale de la imagen */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilo para la superposición de la imagen */
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #000;
  opacity: 0;
  transition: opacity 0.5s;
}

/* Aplicar el desenfoque al pasar el mouse */
.image-container:hover .crdImg {
  filter: blur(3px);
}

/* Mostrar la superposición al pasar el mouse */
.image-container:hover .image-overlay {
  opacity: 1;
}
.image-portafolio:hover{
    transform: scale(1.1); /* Agrandamiento del botón en hover */
}
.image-portafolio{
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 0.5s;

}


