
@media (max-width: 319px) {
  .Protector
  {
  display: none;
  }
  body{
    height: 100vh;
    background-image: url("/assets/img/Alerta.png"); /* Reemplaza 'tu-imagen-de-fondo.jpg' con la ruta de tu imagen */
    background-size:contain;
    background-repeat:repeat;

  }
  .interface{
    display: contents;
    widht:100%;
    height:100%
  }
  header{
    display: none;

  }
}
@media (min-width: 319px) {
  .interface{
    display: none;
    background-color: red;

  }

}





.Frame1 {
  /*background: linear-gradient(to bottom, #02447d, #034f6d); /* Cambia los colores según tus preferencias */
  background-image: url("/assets/img/Banner1.jpg"); /* Reemplaza 'tu-imagen-de-fondo.jpg' con la ruta de tu imagen */
  background-size: cover;
  background-repeat: no-repeat;


  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  color: white;


}
.Frame2 {
  background: linear-gradient(to bottom, #5e6060, #e7f0fa);

  @media (min-width: 992px) {
    height: 100%;

  }
  @media (min-width: 1200px) {
    height: 100vh;

  }
  @media (min-width: 1400px) {
    height: 100vh;

  }


  margin: 0 auto;
  display:block;
  overflow:auto;
  /*overflow: hidden;*/
}
.Frame3 {
  background: linear-gradient(to bottom, #5e6060, #e7f0fa);
  height: 100vh;
  margin: 0;
  padding: 0;
}
.Frame4 {
  background: linear-gradient(to bottom, #b0b2b2, #ffffff);
  @media (min-width: 767px) {
    height: 100%;
    text-align:justify;

   }
  @media (min-width: 992px) {
    height: 100%;
    text-align:justify;

   }
  @media (min-width: 1200px) {
    height: 100%;
  text-align:justify;
  }
  @media (min-width: 1400px) {
    height: 100%;
    text-align:justify;
    padding-bottom: 8%;

  }
  margin: 0;
  padding: 0;
}
.Frame5 {
  background: linear-gradient(to bottom, #5e6060, #e7f0fa);
  height: 100vh;
  margin: 0;
  padding: 0;
}

.item2{
  z-index: 10;
}
.oval-image {
  width: 185px;
  height: 200px;
  border-radius: 55%;
  display: block;
  margin: 0 auto;

  @media (min-width: 992px) {
    float: right;
    margin-right: 25px;
    transform: translateX(180px);
  }
  @media (min-width: 1200px) {
    float: right;
    margin-right: 25px;
    transform: translateX(255px);
  }
  @media (min-width: 1400px) {
    float: right;
    margin-right: 25px;
    transform: translateX(320px);
  }
}

.fade-in {
  opacity: 1;
  transform: translateY(12px);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-in:hover {
  opacity: 1;
  transform: translateY(0);
}



.pixelated-text {
  font-size: 44px;
  font-weight: bold;
  color: #9b9d9a;
  text-transform: uppercase;
  text-shadow: 2px 2px 0px rgb(68, 68, 70), 4px 4px 0px rgb(247, 248, 247), 6px 6px 0px rgb(172, 125, 125);
}
.iniciar{
  @media (min-width: 992px) {
    height: 100%;

  }
  @media (min-width: 1200px) {
    height: 100vh;

  }
  @media (min-width: 1400px) {
    height: 100vh;

  }
}
.item3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;


}
.item4{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  text-align: center;
  margin-bottom: 15px;
}

.item3 h1,
.item3 h2,
.item3 p {
  margin: 10px;
}


.crdImg {
  width: 100px;
  height: 100px;
  display: block;
  transition: filter 0.5s;
  margin-bottom: 12px;
}

.imgst{
  margin-top: 10px;
}

button {
  background-color: #f2f2f2; /* Color de fondo gris claro */
  border: none;
  border-radius: 20px; /* Redondear los bordes */
  padding: 10px 20px; /* Ajustar el espaciado interior */
  cursor: pointer;
  transition: transform 0.2s; /* Animación de transformación en 0.2 segundos */
}

button:hover {
  transform: scale(1.1); /* Agrandamiento del botón en hover */
}



a {
  text-decoration: none; /* Elimina el subrayado de todos los enlaces */
  font-family: 'Tahoma', sans-serif; /* Establece el tipo de letra Tahoma */
  color: inherit; /* Hereda el color del texto del elemento padre (por defecto) */
}


/* Estilo para el contenedor de la imagen */
.image-container {
  position: relative;
  cursor: pointer;
  overflow: hidden; /* Recorta el texto que se sale de la imagen */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilo para la superposición de la imagen */
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #000;
  opacity: 0;
  transition: opacity 0.5s;
}

/* Aplicar el desenfoque al pasar el mouse */
.image-container:hover .crdImg {
  filter: blur(8px);

}

/* Mostrar la superposición al pasar el mouse */
.image-container:hover .image-overlay {
  opacity: 1;
}
.image-portafolio:hover{
    transform: scale(1.1); /* Agrandamiento del botón en hover */
}
.image-portafolio{
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 0.5s;

}
.colorhvr{
  font-size: 20px;
  color: rgb(15, 14, 14);
  font-style: italic;
  font-weight: bold;
}

.colortxt{
  color: rgb(0, 0, 0);
}


/*Carta volteadora*/
.card {
  position: relative;
  width: 300px;
  height: 220px;
  margin: 20px;

}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility:hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s;

}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;

}

.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit:fill;

}

.card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0,0,0,.4);
  text-align: center;

}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(0, 0, 0);
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000;

}

.card .back .link {

  border-top: solid 5px #949090;
  height: 50px;
  line-height: 50px;
  border-color: #434242;
}

.card .back .link a {
  color: #f3f3f3;

}
.card .back .link a:hover {
  color: #f3f3f3;
  padding: 5px 10px; /* 5px de alto y 10px de ancho (ajusta según tus necesidades) */
  background-color: #2b3036; /* Color de fondo del botón */
  border: none;
  border-radius: 50px; /* Utilizamos un valor grande para hacer que el botón sea redondeado */
  text-decoration: none; /* Quita la subraya de los enlaces */
  color: white; /* Color del texto del botón */
  font-weight: bold; /* Estilo de fuente en negrita */
}

.card .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.card .back p {
  letter-spacing: 1px;
}

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);

}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);

}






