

  <div class="album" style="background-color: #121212;">
  <div class="container">
      <footer class="py-4">
        <div class="d-flex flex-column flex-sm-row justify-content-between py-2 my-2 border-top">
          <p style="color: white;">&copy; 2023 Company, Wedy Developer</p>
          <p style="color:white;">Correo: wdelgado4202@gmail.com</p>
          <ul class="list-unstyled d-flex">
            <li class="ms-3"><a target="_blank" href="mailto:wdelgado4202@gmail.com?subject=Interesados%20en%20contar%20con%20tus%20servicios&body=Estamos%20interesados%20en%20contar%20con%20tus%20servicios%20c%C3%B3mo%20desarrollador" style="color:white"><i class="fa-brands  fab fa-google"></i></a></li>
            <li class="ms-3"><a target="_blank" href="https://github.com/WedyDev" style="color:white;"><i class="fa-brands fab fa-github"></i></a></li>
            <li class="ms-3"><a target="_blank" href="https://www.linkedin.com/in/walter-delgadoy/" style="color:white"><i class="fab fa-linkedin"></i></a></li>
          </ul>
      </div>

      </footer>
    </div>
  </div>
